h2 {
  font-size: 72px !important;
  font-weight: 700;
  background: -webkit-linear-gradient(right, #00a3ff, #00fff0);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

p {
  color: #fff;
}

.page {
  background-color: var(--background-color);
  min-height: 100vh;
}
